

{
  "plugins": [
    ["transform-react-jsx", { "pragma": "h"}]
  ],
  "presets": [
    ["babel-preset-env", {
      "loose": true,
      "uglify": true,
      "exclude": [
        "transform-regenerator",
        "transform-es2015-typeof-symbol"
      ]
    }],
    "babel-preset-stage-1"
  ]
}
