html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	background-color: #efefef;
}

h1 {
	text-align: center;
}

a {
	color: #0681bb;
}

/* styles of sweetalert button */
.swal-button {
	background-color: #3bb5ef;
	border-radius: 4px;
}
